* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

:root {
   font-size: 62.5%;
   font-family: 'Mulish', sans-serif;

   --titles: #202024;
   --footer: #323238;
   --search-bar: #3d3d3d;
   --header-title: #8d8d99;
   --bg-main: #abc7d9;
   --bg-tag: #b2c7da;
   --bg-app: #c0d5e2;
   --bg-item: #c7e0f0f6;
   --bg-search-bar: #e9e9e9ca;
}

body {
   font-size: 1.6rem;
}

#app {
   background-color: var(--bg-app);
   display: grid;
   grid-template-rows: max-content 1fr max-content;
   height: 100vh;
}

.container {
   padding: 1.6rem 3.2rem;
   width: min(112rem, 100%);
   margin: 0 auto;
}

header, nav, nav ul {
   display: flex;
   align-items: center;
   gap: 7.2rem;
   font-weight: 700;
}

header img {
   width: 4rem;
   height: 4rem;
}

nav ul {
   list-style: none;
   font-size: 1.8rem;
   color: var(--header-title);
}

ul li.active {
   color: var(--titles);
}

header form {
   flex: 1;
}

.search-bar label{
   width: 1px;
   height: 1px;
   overflow: hidden;
   position: absolute;
}

.search-bar input {
   width: 100%;
   background-color: var(--bg-search-bar);
   border: none;
   font-family: 'Mulish', sans-serif;
   font-size: 1.6rem;
   font-weight: 600;
   padding: 0.8rem 1.5rem;
   border-radius: 5px;
}

.search-bar input::placeholder {
   opacity: 0.56;
   color: var(--search-bar);
}

header .profile {
   width: 4.2rem;
   height: 4.2rem;
   border-radius: 50%;
}

main {
   overflow-y: scroll;
   scrollbar-gutter: stable both-edges;
   background-color: var(--bg-main);
}

.container h1 {
   font-size: 2.4rem;
   padding-top: 1.6rem;
}

.gallery {
   margin-top: 3.2rem;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 2.2rem;
}

.item {
   background-color: var(--bg-item);
   border-radius: 0.8rem;
   overflow: hidden;
}

.item img {
   width: 100%;
   aspect-ratio: 16/9;
   object-fit: cover;
   /* transition-property: all;
   transition-duration: 0.3s;
   transition-delay: 0;
   transition-timing-function: ease-in; */

   transition: all 0.3s ease-in;
}

.item img:hover {
   filter: hue-rotate(15deg) contrast(105%) saturate(220%);
   transform: scale(1.1);
}

.title-item {
   padding: 2.2rem;
}

.title-item h2 {
   font-size: 1.9rem;
   
}

.tags {
   margin-top: 2rem;
}

.tags span {
   padding: 0.6rem;
   font-size: 1.2rem;
   text-transform: uppercase;
   background-color: var(--bg-tag);
   border-radius: 0.4rem;
}

footer p {
   color: var(--footer);
   font-weight: 600;
   text-align: center;
   padding: 1.6rem;
}

header {
   --startY: -100%;
   animation: move 0.5s;
}

footer {
   --startY: 100%;
   animation: move 0.5s;
}

.item {
   animation: appear 1s;
}

@keyframes move {
   0% {
      transform: translateY(var(--startY));
   }
}

@keyframes appear {
   0% {
      opacity: 0;
      transform: scale(0.8);
   }
}